.btn{
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  width: auto;
  background-color: $orange;
  border-radius: $radiusBtn;
  text-transform: uppercase;
  &:hover{
    background-color: $yellow;
  }
}