.nav-links {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & > a, & > span {
    display: block;
    padding-right: 15px;
    font-size: 16px;
    color: $blue;
    line-height: 18px;
  }

  & > .current {
    display: block;
    padding-right: 15px;
    font-size: 16px;
    color: $blue;
    font-weight: 600;
    line-height: 18px;
  }

  & > .prev, & > .next {
    font-size: 16px;
    color: $blue;
    font-weight: 500;
    line-height: 18px;
  }
  & > .prev {
    padding-right: 40px;
  }
   & > .next {
    padding-left: 40px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 80px 0 50px;

  &__start, &__end {
    font-size: 16px;
    font-weight: 500;
    padding: 0 40px;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-right: 20px;
    cursor: pointer;
    transition: all .4s;
  }

  &__link {
    font-size: 16px;

    &.active {
      font-weight: 600;
    }
  }
}

@media (max-width: 991px) {
  .nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & > a, & > span {
      display: block;
      padding-right: 13px;
      font-size: 14px;
      color: $blue;
      line-height: 17px;
    }

    & > .current {
      display: block;
      padding-right: 13px;
      font-size: 14px;
      color: $blue;
      font-weight: 600;
      line-height: 17px;
    }

    & > .prev, & > .next {
      font-size: 14px;
      color: $blue;
      font-weight: 500;
      line-height: 17px;
    }
    & > .prev {
      padding-right: 30px;
    }
    & > .next {
      padding-left: 30px;
    }
  }
  .pagination {
    margin-bottom: 30px;
    padding: 80px 0 30px;

    &__start, &__end {
      font-size: 12px;
      padding: 0 15px;
    }

    &__list {
    }

    &__item {
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      font-size: 12px;

      &-active {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .pagination {
    margin-bottom: 0;
    padding: 35px 0;
  }
  .nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & > a, & > span {
      display: block;
      padding-right: 10px;
      font-size: 13px;
      color: $blue;
      line-height: 16px;
    }

    & > .current {
      display: block;
      padding-right: 10px;
      font-size: 13px;
      color: $blue;
      font-weight: 600;
      line-height: 16px;
    }

    & > .prev, & > .next {
      font-size: 13px;
      color: $blue;
      font-weight: 500;
      line-height: 16px;
    }
    & > .prev {
      padding-right: 20px;
    }
    & > .next {
      padding-left: 20px;
    }
  }
}