.text-center{
text-align: center;
}
.error-main-page{
  margin: 24px auto!important;
  display: table!important;
}
.woocommerce .star-rating{
  font-size: 1.4em!important;
  margin: 20px 0!important;
  color: #FF5500!important;
  &::before{
    color: #FF5500!important;
  }
}
.wrapper{
  position: relative!important;
}
.woocommerce span.onsale{
  background-color: $orange!important;
  left: 100px!important;
  padding: 0 15px!important;
  top: 0!important;
}