.tablepress tbody td, .tablepress tfoot th {
  border-top: none !important;
}

.tablepress td, .tablepress th {
  padding: 0 !important;
}

.table-responsive, .price__block.crossdock__block {
  & > table {
    padding-bottom: 50px;
    max-width: 840px;
    width: 100%;

    & > thead {
      display: none !important;

      & > tr {
        & > th {
          background-color: transparent !important;
        }
      }
    }

    & > tbody {
      margin-top: 20px !important;

      & > tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0;
        border-bottom: 1px solid $gray;

        &:first-child, &:first-of-type {
          border-top: 1px solid $gray;
        }

        & > td {
          font-size: 14px;
          display: flex;
          justify-content: flex-start;

          &:first-child {
            width: 5%;
            font-weight: 700;
          }

          &:nth-child(2) {
            width: 59%;
          }

          &:nth-child(3) {
            width: 18%;
          }

          &:nth-child(4) {
            width: 18%;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

.price {
  padding: 40px 15px 115px;

  &__title {
    padding-bottom: 40px;
    text-transform: capitalize !important;
  }

  &__content > div > div > h3 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
  }

  &__block {
    padding-bottom: 50px;
    max-width: 840px;
  }

  &__line {
    display: flex;
    padding: 9px 0;
    align-items: center;
    border-bottom: 1px solid $gray;

    &:first-child, &:first-of-type {
      border-top: 1px solid $gray;
    }
  }

  &__name, &__type, &__num {
    font-size: 14px;
    padding-right: 15px;
  }

  &__name {
    width: 60%;
  }

  &__type {
    width: 30%;
  }

  &__num {
    width: 10%;
    font-weight: 700;
  }

  &__form {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive, .price__block.crossdock__block {
    & > table {
      padding-bottom: 50px;
      max-width: 840px;
      width: 100%;

      & > tbody {
        & > tr {
          padding: 7px 0;

          &:first-child, &:first-of-type {
            border-top: 1px solid $gray;
          }

          & > td {
            font-size: 12px;
            padding-right: 10px;
            display: flex;
            justify-content: flex-start;

            &:first-child {
              width: 5%;
              font-weight: 700;
            }

            &:nth-child(2) {
              width: 65%;
            }

            &:nth-child(3) {
              width: 15%;
            }

            &:nth-child(4) {
              width: 15%;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
  .price {
    padding: 20px 15px 50px;

    &__title {
      padding-bottom: 20px;
    }

    &__content > div > div > h3 {
      font-weight: 700;
      font-size: 16px;
      padding-bottom: 15px;
    }

    &__block {
      padding-bottom: 30px;
      max-width: 840px;
    }

    &__line {
      display: flex;
      padding: 7px 0;
    }

    &__name, &__type, &__num {
      font-size: 12px;
      padding-right: 10px;
    }

    &__name {
      width: 60%;
    }

    &__type {
      width: 25%;
    }

    &__num {
      width: 15%;
      font-weight: 700;
    }

    &__form {
      margin-bottom: 50px;
    }
  }

}

@media screen and (max-width: 575px) {
  .table-responsive, .price__block.crossdock__block {
    & > table {
      padding-bottom: 50px;
      max-width: 840px;
      width: 100%;

      & > tbody {
        & > tr {
          padding: 7px 0;
          flex-wrap: wrap;

          &:first-child, &:first-of-type {
            border-top: 1px solid $gray;
          }

          & > td {
            font-size: 12px;
            padding-right: 10px;
            display: flex;
            justify-content: flex-start;

            &:first-child {
              width: 5%;
              font-weight: 700;
            }

            &:nth-child(2) {
              width: 80%;
            }

            &:nth-child(3) {
              width: 15%;
            }

            &:nth-child(4) {
              padding-top: 10px;
              display: flex;
              justify-content: flex-end;
              font-size: 14px;
              width: 100%;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .price {
    padding: 15px;

    &__title {
      padding-bottom: 15px;
    }

    &__content > div > div > h3 {
      font-weight: 700;
      font-size: 14px;
      padding-bottom: 15px;
    }

    &__block {
      padding-bottom: 20px;
      max-width: 840px;
      width: 100%;
    }

    &__line {
      display: flex;
      padding: 7px 0;
      flex-wrap: wrap;
    }

    &__name, &__type, &__num {
      font-size: 12px;
      padding-right: 10px;
    }

    &__name {
      width: 100%;
    }

    &__type {
      width: 100%;
      padding: 5px 0 0;
      font-weight: 600;
    }

    &__num {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      width: 100%;
      font-weight: 700;
    }

    &__form {
      margin-bottom: 30px;
    }
  }

}