.select {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 0 20px!important;
  text-transform: uppercase;
  cursor: pointer;
  padding: 9px 20px;
  background: #FFFFFF;
  border: 1px solid #C0C6CE;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  font-size: 14px;
}

.select-wrap {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
}

.select-wrap select {
  margin: 20px;
}

.select__gap {
  text-transform: uppercase;
  cursor: pointer;
  padding: 9px 20px;
  background: #FFFFFF;
  border: 1px solid #C0C6CE;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  font-size: 14px;

  &.error {
    border: 2px solid #CF543C;

    &::placeholder {
      color: #CF543C;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.on.select__gap,
.select__gap:hover {
}

.select__list {
  background: transparent;
  border: 1px solid #C0C6CE;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: -45px 0 45px;
  padding: 30px 0 20px;
}

.select__list.on {
  display: block;
}

.select__item {
  &:hover {
  }
}

.select__item span {
  display: block;
  padding: 5px 15px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}

.select__item.selected,
.select__item span:hover {
  border-bottom: 1px solid #C0C6CE;

}
.select__gap:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
  border-right: 2px solid #2C415B;
  border-top: 2px solid #2C415B;

  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;

  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.on.select__gap:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}